.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(240,242,245); */
}

.mainbody {
  display: flex;
  /* background-color: rgb(240,242,245); */
}
.activeLink {
  text-decoration: underline;
}

.leftBar {
  flex: 2;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: var(--themed-bg);
  color: var(--themed-textColor);
  width: 35%;
  /* border: 1px solid red; */
}

.leftBar::-webkit-scrollbar {
  display: none;
}

.leftBar:hover::-webkit-scrollbar {
  border-right: 4px solid rgb(175, 173, 173);
  display: block;
}
.leftBar .container {
  padding: 20px;
  /* background-color: green; */
}

.leftBar .container hr {
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color: var(--themed-border);
}

.leftBar .container .menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftBar .container .menu span {
  font-size: 12px;
}

.leftBar .container .menu .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leftBar .container .menu .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.leftBar .container .menu .user span {
  font-size: 14px;
}

.leftBar .container .menu .item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.leftBar .container .menu .item:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 5px;
  color: white;
}

.leftBar .container .menu .item img {
  width: 30px;
}

.leftBar .container .menu .item span {
  font-size: 14px;
}


@media screen and (max-width: 768px) {
  .leftBar {
    display: none;
  }
  .rightBar{
    display: none;
  }
}

/* Styles for screens smaller than 480px (mobile devices) */
@media screen and (max-width: 479px) {
  /* Add your styles here */
  .leftBar {
    display: none;
  }
  .rightBar{
    display: none;
  }

}

/* -------------------rightbar */
/* Assuming the import path is correct */
.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  /* background-color: var(--bgSoft); */
  /* width: 200px; */
  max-width:35%;
  /* border: 1px solid red; */
  /* background-color: #5271ff; */
}

/* @media (max-width: 767px) {
  .rightBar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .rightBar {
    display: none;
  }
} */

.rightBar::-webkit-scrollbar {
  display: none;
}

.rightBar .container {
  padding: 20px;
}

.rightBar .container .item {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--bg);
  /* border: 1px solid green; */
  /* width: 50%; */
}

.rightBar .container .item span {
  color: gray;
}

.rightBar .container .item .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.rightBar .container .item .user .userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.rightBar .container .item .user .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightBar .container .item .user .userInfo .online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}

.rightBar .container .item .user .userInfo p {
  color: var(--textColorSoft);
}

.rightBar .container .item .user .userInfo span {
  font-weight: 500;
  color: var(--textColor);
}

.rightBar .container .item .user .buttons {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}

.rightBar .container .item .user .buttons button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.rightBar .container .item .user .buttons button:first-child {
  background-color: #0866ff;
  padding: 6px 12px;
  border-radius: 5px;

}

.rightBar .container .item .user .buttons button:last-child {
  background-color: #e4e6eb;
  color: #000;
  padding: 6px 15px;
  border-radius: 5px;
}
